:root{
    --BackgroundColour: Navy;
    --FontColour: White;
}

*{
   font-family: Arial, Helvetica, sans-serif;
}

.navbarlist {
    background-color: var(--BackgroundColour);
    width: 100vw;
    display: flex;
    justify-content: center;
    z-index: 9;
}

.navbarlist a {
    color: var(--FontColour);
    font-style: none;
    text-decoration: none;
    text-align: center;
    font-size: 1.6vh;
    padding: 14px 16px;
}