:root{
    --WidthOfImage: 40vw;
    --HeightOfImage: 70vh;
}

.Predictions{
    display: flex;
}

.LatestPrediction{
    /*background-color: red;*/
    width: 40vw;
    height: 20vh;
    margin-top: 10vh;
    margin-left: 8vw;
    justify-content: left;
}

.LatestImage{
    /*background-color: blue;*/
    width: var(--WidthOfImage);
    height: var(--HeightOfImage);
    justify-content: left;
    margin-left: 5vw;
    margin-top: 5vh;
}

.updateme{
    text-decoration: underline;
}

.ImageCaptured{
    width: 100%;
    height: 100%;
}